<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
 <ion-button  color="secondary" size="small" (click)="real1()">
        combo 
 
 </ion-button>  <ion-button   color="secondary" size="small" (click)="real2()">
          qr 
   
 </ion-button>  <ion-button    color="secondary" size="small" (click)="real3()">
            mapa 
     
         
 </ion-button>  <ion-button color="secondary" size="small" (click)="logout()">
            salir 
     
 </ion-button>
            
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h1>click para escanear tu codigo qr</h1>

  <ion-button color="primary" (click)="scanCode()">
scanear  </ion-button>


</ion-content>
